@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: screen;
  overflow-x: hidden;
  box-sizing: border-box;
}

@layer base{
  @font-face {
    font-family: "allround-bold";
    src: url("/Fonts/allround-bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "allround-light";
    src: url("/Fonts/allround-light.ttf") format("truetype");
  }
  @font-face {
    font-family: "allround-medium";
    src: url("/Fonts/allround-medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/Fonts/Helvetica.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sauce-Tomato";
    src: url("/Fonts/Sauce-Tomato.ttf") format("truetype");
  }
}